body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.game-section {
    margin-top: 20px;
}

.selection-buttons button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.scores {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}





#subscribe-button {
    /* Add your default styles for the button here */
    background-color: #3498db; /* Default background color */
    color: #fff; /* Default text color */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove default button border */
    cursor: pointer;
}


